<%= link_to resource_path(resource), class: 'list-group-item' do %>

  <h4 class="list-group-item-heading">
    <%= resource.title %>
  </h4>

  <p class="list-group-item-text">
    <%= resource.description %>
  </p>

<% end %>