
<article class="card recipe">

  <% if recipe.photo %>
    <%= image_tag recipe.photo.thumb('300x200#').url,
        class: 'card-img-top img-fluid' %>
  <% end %>

  <section class="card-block">

    <header class="card-title">
      <%= link_to recipe.title,
          recipe_path(recipe) %>
    </header>

    <p class="card-text">
      <%= recipe.description %>
    </p>

  </section>

</article>