<h1>Editando Usuario</h1>


<section class="card">
  <section class="card-block">
    <%= render 'form', user: @user, url: false %>
  </section>
</section>

<%= link_to 'Ver', @user %> |
<%= link_to 'Volver', users_path %>
